$black: #2d2d2d;
$light_gray: #eaeaea;
$dark_gray: #333333;

#site-header {
  background-color: $black;
  color: $light_gray;
  a {
    color: $light_gray;
  }
} 

#site-logo {
  float: left;
  line-height: 22px;
  font-size: 10px;
  margin-right: 10px;
}

#site-top-nav {
  float: right;
  line-height: 22px;
  font-size: 10px;
  margin-right: 10px;
  span {
    margin: 0px 10px;
  }
}

#site-body {
  overflow-y: auto;
}

#site-footer {
  color: $dark_gray;
  border-top: 1px solid $dark_gray;
  a {
    color: $dark_gray;
  }
}
#site-bottom-nav {
  float: left;
  line-height: 58px;
  font-size: 10px;
  margin-left: 10px;
  span {
    margin: 0px 10px;
  }
}